<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
{#    <link rel="stylesheet" href="{% static 'css/main.css' %}">#}
</head>
<body>
{% if user.is_authenticated %}
<h1>Вы уже авторизованы</h1>
    <p><a href="/logout">Выйти</a></p>
    <p><a href="/">Главная</a></p>
{% else %}
<h1>Регистрация</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Ok</button>
</form>
<p>Если у вас есть аккаунт вы можете <a href="/accounts/login">Войти в систему</a></p>
{% endif %}
</body>
</html>
